###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
/.php-version
/symfony.exe
###< symfony/framework-bundle ###
# VSCODE
/.vscode/
# Windows
Thumbs.db
Desktop.ini
/.idea